body h1 {
	text-align: center;
	color: green;
	font-size: bold;
}

body p {
	text-align: center;
	color: red;
	height: 70;
}

body table {
	position: center;
	text-align: center;
	flex-direction: column;
}